<%- include('partials/header') -%> 

<h1>About</h1>

 <div class="somethn">
    <h2 class="hello">Hello .. <span> I'm Khatami</span></h2>
    <h3 class="learn">Learning about new thing and trying to expreriment with amazing techs....</h3>
 
 </div>


<%- include('partials/footer') -%> 