<%- include('partials/header') -%> 

<h1>Compose</h1>

<form class="compose_form" action="/compose" method="POST">
    
    <!-- Title input line -->
    <input name="newTitle" type="text" class="form-control" placeholder="Blog Title" aria-describedby="basic-addon1" style="margin-top: 25px;">

    <!-- Body input box -->
    <textarea class="form-control" name="newContent" aria-label="With textarea" style="margin-top: 25px;" placeholder="Blog Content"></textarea>

    <!-- Submit button -->
    <button class="btn btn-primary" style="margin-top: 25px;" type="submit" name="publishButton">Publish</button>
</form>





<%- include('partials/footer') -%> 