<%- include('partials/header') -%>

<div class="upmargin"></div>
<a class="arrow"   href="/"> ↞  </a>
 

<ul>
    
        
            <div class="post">
                <h1><%= post.title %></h1>
                <hr class="dashed">
                <p><%= post.content %></p>
            </div>
    
    
</ul>



<%- include('partials/footer') -%>