// Styles for desktop screens
.link_posts {
    // background-color: red;
    color: rgb(0, 25, 53);
    font-weight: bold;
    
    li {
        padding: 10px;
    }
    #title{
        font-weight: bold;
    }
    p{
        font-size: 15px;
    }

    transition: color 0.2s ease; /* Transition for color on regular state */

    &:hover {
        color: rgb(143, 87, 34);
        transition: color 0.6s ease; /* Transition for color on hover state */
    }
}

// Styles for mobile screens (hide navigation)
@media only screen and (max-width: 767px) {
    .nav {
        display: none; // Hide the navigation bar
    }
}
